

/*new font faces*/
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500;600;700;800;900&amp;family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&amp;display=swap');
@font-face {
    font-family: 'BrandoLight';
    src: url('font/BrandoLight.eot');
    src: url('font/BrandoLight.eot') format('embedded-opentype'),
         url('font/BrandoLight.woff2') format('woff2'),
         url('font/BrandoLight.woff') format('woff'),
         url('font/BrandoLight.ttf') format('truetype'),
         url('font/BrandoLight.svg#BrandoLight') format('svg');
}
@font-face {
    font-family: 'BrandoRegular';
    src: url('font/BrandoRegular.eot');
    src: url('font/BrandoRegular.eot') format('embedded-opentype'),
         url('font/BrandoRegular.woff2') format('woff2'),
         url('font/BrandoRegular.woff') format('woff'),
         url('font/BrandoRegular.ttf') format('truetype'),
         url('font/BrandoRegular.svg#BrandoRegular') format('svg');
}
@font-face {
    font-family: 'BrandoSemiBold';
    src: url('font/BrandoSemiBold.eot');
    src: url('font/BrandoSemiBold.eot') format('embedded-opentype'),
         url('font/BrandoSemiBold.woff2') format('woff2'),
         url('font/BrandoSemiBold.woff') format('woff'),
         url('font/BrandoSemiBold.ttf') format('truetype'),
         url('font/BrandoSemiBold.svg#BrandoSemiBold') format('svg');
}
@font-face {
    font-family: 'GESSTwoBold';
    src: url('font/GESSTwoBold.eot');
    src: url('font/GESSTwoBold.eot') format('embedded-opentype'),
         url('font/GESSTwoBold.woff2') format('woff2'),
         url('font/GESSTwoBold.woff') format('woff'),
         url('font/GESSTwoBold.ttf') format('truetype'),
         url('font/GESSTwoBold.svg#GESSTwoBold') format('svg');
}
@font-face {
    font-family: 'GESSTwoLight';
    src: url('font/GESSTwoLight.eot');
    src: url('font/GESSTwoLight.eot') format('embedded-opentype'),
         url('font/GESSTwoLight.woff2') format('woff2'),
         url('font/GESSTwoLight.woff') format('woff'),
         url('font/GESSTwoLight.ttf') format('truetype'),
         url('font/GESSTwoLight.svg#GESSTwoLight') format('svg');
}
@font-face {
    font-family: 'GESSTwoMedium';
    src: url('font/GESSTwoMedium.eot');
    src: url('font/GESSTwoMedium.eot') format('embedded-opentype'),
         url('font/GESSTwoMedium.woff2') format('woff2'),
         url('font/GESSTwoMedium.woff') format('woff'),
         url('font/GESSTwoMedium.ttf') format('truetype'),
         url('font/GESSTwoMedium.svg#GESSTwoMedium') format('svg');
}
@font-face {
    font-family: 'gillsansmtprolight';
    src: url('font/gillsansmtprolight.eot');
    src: url('font/gillsansmtprolight.eot') format('embedded-opentype'),
         url('font/gillsansmtprolight.woff2') format('woff2'),
         url('font/gillsansmtprolight.woff') format('woff'),
         url('font/gillsansmtprolight.ttf') format('truetype'),
         url('font/gillsansmtprolight.svg#gillsansmtprolight') format('svg');
}
@font-face {
    font-family: 'HeeboRegular';
    src: url('font/HeeboRegular.eot');
    src: url('font/HeeboRegular.eot') format('embedded-opentype'),
         url('font/HeeboRegular.woff2') format('woff2'),
         url('font/HeeboRegular.woff') format('woff'),
         url('font/HeeboRegular.ttf') format('truetype'),
         url('font/HeeboRegular.svg#HeeboRegular') format('svg');
}
@font-face {
    font-family: 'MontserratExtraBold';
    src: url('font/MontserratExtraBold.eot');
    src: url('font/MontserratExtraBold.eot') format('embedded-opentype'),
         url('font/MontserratExtraBold.woff2') format('woff2'),
         url('font/MontserratExtraBold.woff') format('woff'),
         url('font/MontserratExtraBold.ttf') format('truetype'),
         url('font/MontserratExtraBold.svg#MontserratExtraBold') format('svg');
}
@font-face {
    font-family: 'MyriadProRegular';
    src: url('font/MyriadProRegular.eot');
    src: url('font/MyriadProRegular.eot') format('embedded-opentype'),
         url('font/MyriadProRegular.woff2') format('woff2'),
         url('font/MyriadProRegular.woff') format('woff'),
         url('font/MyriadProRegular.ttf') format('truetype'),
         url('font/MyriadProRegular.svg#MyriadProRegular') format('svg');
}
@font-face {
    font-family: 'WhitneyLight';
    src: url('font/WhitneyLight.eot');
    src: url('font/WhitneyLight.eot') format('embedded-opentype'),
         url('font/WhitneyLight.woff2') format('woff2'),
         url('font/WhitneyLight.woff') format('woff'),
         url('font/WhitneyLight.ttf') format('truetype'),
         url('font/WhitneyLight.svg#WhitneyLight') format('svg');
}
@font-face {
    font-family: 'AdobeArabicRegular';
    src: url('font/AdobeArabicRegular.eot');
    src: url('font/AdobeArabicRegular.eot') format('embedded-opentype'),
         url('font/AdobeArabicRegular.woff2') format('woff2'),
         url('font/AdobeArabicRegular.woff') format('woff'),
         url('font/AdobeArabicRegular.ttf') format('truetype'),
         url('font/AdobeArabicRegular.svg#AdobeArabicRegular') format('svg');
}
@font-face {
    font-family: 'BlissProLight';
    src: url('font/BlissProLight.eot');
    src: url('font/BlissProLight.eot') format('embedded-opentype'),
         url('font/BlissProLight.woff2') format('woff2'),
         url('font/BlissProLight.woff') format('woff'),
         url('font/BlissProLight.ttf') format('truetype'),
         url('font/BlissProLight.svg#BlissProLight') format('svg');
}
@font-face {
    font-family: 'blissprobold5972f85523b1c';
    src: url('font/blissprobold5972f85523b1c.eot');
    src: url('font/blissprobold5972f85523b1c.eot') format('embedded-opentype'),
         url('font/blissprobold5972f85523b1c.woff2') format('woff2'),
         url('font/blissprobold5972f85523b1c.woff') format('woff'),
         url('font/blissprobold5972f85523b1c.ttf') format('truetype'),
         url('font/blissprobold5972f85523b1c.svg#blissprobold5972f85523b1c') format('svg');
}



