@font-face {
    font-family: 'OpenSansRegular';
    src: url('font-style/OpenSansRegular.eot');
    src: url('font-style/OpenSansRegular.eot') format('embedded-opentype'),
         url('font-style/OpenSansRegular.woff2') format('woff2'),
         url('font-style/OpenSansRegular.woff') format('woff'),
         url('font-style/OpenSansRegular.ttf') format('truetype'),
         url('font-style/OpenSansRegular.svg#OpenSansRegular') format('svg');
}
@font-face {
    font-family: 'AdobeArabicRegular';
    src: url('font-style/AdobeArabicRegular.eot');
    src: url('font-style/AdobeArabicRegular.eot') format('embedded-opentype'),
         url('font-style/AdobeArabicRegular.woff2') format('woff2'),
         url('font-style/AdobeArabicRegular.woff') format('woff'),
         url('font-style/AdobeArabicRegular.ttf') format('truetype'),
         url('font-style/AdobeArabicRegular.svg#AdobeArabicRegular') format('svg');
}
@font-face {
    font-family: 'BlissProRegular';
    src: url('font-style/BlissProRegular.eot');
    src: url('font-style/BlissProRegular.eot') format('embedded-opentype'),
         url('font-style/BlissProRegular.woff2') format('woff2'),
         url('font-style/BlissProRegular.woff') format('woff'),
         url('font-style/BlissProRegular.ttf') format('truetype'),
         url('font-style/BlissProRegular.svg#BlissProRegular') format('svg');
}
@font-face {
    font-family: 'FrutigerLTStdLight';
    src: url('font-style/FrutigerLTStdLight.eot');
    src: url('font-style/FrutigerLTStdLight.eot') format('embedded-opentype'),
         url('font-style/FrutigerLTStdLight.woff2') format('woff2'),
         url('font-style/FrutigerLTStdLight.woff') format('woff'),
         url('font-style/FrutigerLTStdLight.ttf') format('truetype'),
         url('font-style/FrutigerLTStdLight.svg#FrutigerLTStdLight') format('svg');
}
@font-face {
    font-family: 'FrutigerLTStdRoman';
    src: url('font-style/FrutigerLTStdRoman.eot');
    src: url('font-style/FrutigerLTStdRoman.eot') format('embedded-opentype'),
         url('font-style/FrutigerLTStdRoman.woff2') format('woff2'),
         url('font-style/FrutigerLTStdRoman.woff') format('woff'),
         url('font-style/FrutigerLTStdRoman.ttf') format('truetype'),
         url('font-style/FrutigerLTStdRoman.svg#FrutigerLTStdRoman') format('svg');
}
@font-face {
    font-family: 'MerriweatherBold';
    src: url('font-style/MerriweatherBold.eot');
    src: url('font-style/MerriweatherBold.eot') format('embedded-opentype'),
         url('font-style/MerriweatherBold.woff2') format('woff2'),
         url('font-style/MerriweatherBold.woff') format('woff'),
         url('font-style/MerriweatherBold.ttf') format('truetype'),
         url('font-style/MerriweatherBold.svg#MerriweatherBold') format('svg');
}
@font-face {
    font-family: 'MerriweatherItalic';
    src: url('font-style/MerriweatherItalic.eot');
    src: url('font-style/MerriweatherItalic.eot') format('embedded-opentype'),
         url('font-style/MerriweatherItalic.woff2') format('woff2'),
         url('font-style/MerriweatherItalic.woff') format('woff'),
         url('font-style/MerriweatherItalic.ttf') format('truetype'),
         url('font-style/MerriweatherItalic.svg#MerriweatherItalic') format('svg');
}


/* whitney fonts*/

    @font-face {
    font-family: 'Whitney Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney Medium'), url('font-style/whitneymedium.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Whitney Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney Medium Italic'), url('font-style/whitneymediumitalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Whitney Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney Bold'), url('font-style/whitneybold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Whitney Semibold Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney Semibold Regular'), url('font-style/whitneysemibold.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Whitney Book Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney Book Regular'), url('font-style/whitneybook.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Whitney Light Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney Light Regular'), url('font-style/whitneylight.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Whitney Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney Semibold Italic'), url('font-style/WhitneySemiboldItalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Whitney Book Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney Book Italic'), url('font-style/whitneybookitalic.woff') format('woff');
    }
    

    @font-face {
    font-family: 'Whitney Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Whitney Light Italic'), url('font-style/whitneylightitalic.woff') format('woff');
    }


/* ROBOTO LT FONT */


@font-face{
    src:url('font-style/Roboto_Lt_Regular1.ttf');
    font-family: Roboto_Lt_Regular1;
}

@font-face{
    src:url('font-style/Roboto_Lt_Bold_Italic.ttf');
    font-family: Roboto_Lt_Bold_Italic;
}

@font-face{
    src:url('font-style/Roboto_Lt_Italic.ttf');
    font-family: Roboto_Lt_Italic;
}

@font-face{
    src:url('font-style/Roboto_Lt_Regular.ttf');
    font-family: Roboto_Lt_Regular;
}